@import "tailwindcss";

:root {
  --primary: #E84125;
  --background: #090909;
  --foreground: #DBDBDB;
  --success: #4CAF50;
  --error: #F44336;
  --border: rgb(255 255 255/.1);
}

@theme inline {
  --color-primary: var(--primary);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
